$def with(pages)

<h1> web.py Code samples</h1>
<h2>Simple samples:</h2>

<p>
All samples are in the public domain. They are intentionally unstyled, and they usually lack features that make them usable. They are intended to show how common patterns are performed in web.py.</p>

<ul>
<li><a href="$pages['skeleton']">Skeleton code.</a> The very basics required to get started.</li>
<li><a href="$pages['todo']">Todo-list.</a> The simplest database-driven app possible.</li>
<li><a href="$pages['blog']">Blog.</a> A very simple blog, showing basic CRUD functionality.</li>
<li><a href="$pages['wiki']">wiki.</a> A very basic wiki engine.</li>
<ul>

